.article{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.article > div {
  height: 100%;
  border-radius: 10rem;
  border: 0.25rem;
  border-style: solid;
  width: 0px;
}

.link{
  font-size: clamp(1.5rem, 2vw ,2rem);
  font-weight: bold;
  line-height: 2rem;
}