.container {
  padding: 0 5rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 7rem;
}

.categories, .mainNews{
  display: grid;
  gap: 4rem;
}

.secondaryNews{
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

@media (max-width: 900px){
  .secondaryNews > * {
    width: calc(50% - 2rem);
  }
}


@media (min-width: 900px){

  .categories, .mainNews{
    display: flex;
    gap: 2rem;
  }

  .categories > .secondaryNews:first-child, .mainNews > *:first-child{
    width: 50%;
  }

  .categories > .secondaryNews:first-child > *{
    width: calc(50% - 2rem);
  }
  
  .categories > .secondaryNews, .mainNews > *{
    width: 25%;
  }
}


